* {
  box-sizing: border-box;
}

body {
  background-color: #86b4d9;
}

#container {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  margin-top: 10rem;
}
#container .heading {
  font-size: 32px;
  font-family: 'Crimson Text', sans-serif, serif;
  font-weight: bold;
}

#search-container .search-box {
  text-align: center;
  font-size: 20px;
  font-family: 'Crimson Text', sans-serif, serif;
  font-weight: bold;
  width: 500px;
  height: 45px;
  border: 1px solid gray;
}

input[placeholder]::-webkit-input-placeholder {
  font-family: 'Crimson Text', sans-serif, serif;
  font-weight: 100;
}

#result-container a {
  text-decoration: none;
  color: black;
  font-family: 'Crimson Text', sans-serif, serif;
}

#result-container .results {
  padding: 10px 0px;
  background-color: white;
  width: 500px;
  border: 0.5px solid gray;
  font-size: 20px;
  padding-left: 5px;
}

#result-container .results:hover {
  background-color: #ebf6f9;
}
#RandomLink {
  text-decoration: none;
}
#RandomLink:visited {
  color: black;
}

@media only screen and (max-width: 768px) {
  .search-box {
    width: 80vw;
  }
  .results {
    width: 80vw;
  }
  .heading {
    text-align: center;
  }
}
